.home-container {
    text-align: center;
}

.home-header h1 {
    margin: 20px 0;
}


.hero-section {
    background: url('../../assets/banner.jpg') no-repeat center center;
    background-size: cover;
    color: #ffffff;
    padding: 100px 20px;
}

.section-title {
    background-color: red;

}

.hero-content h2 {
    font-size: 2.5rem;
}

.featured-museums,
.about-section {
    padding: 40px 20px;
}

.featured-museums h2,
.about-section h2 {
    color: #5D1049;
    margin-bottom: 20px;
}

.home-footer {
    padding: 20px;
    background-color: #E8E8E8;
    color: #333;
}

.getStarted {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    min-width: 200px;
    
    font-size: 18px;
    background-color: #fd0;
    font-weight: 500;
    color: #222;
    align-self: center;
    text-decoration: none;
}

.museum-card-content{
    margin: 0 10px;
}


.museum-card-content img {
    margin: 0px;
    border-radius: 20px;
    height: 280px;
}

.museum-banner {
    width: 95%;
    display: block;
}


/* Add this to your CSS file */
.slick-prev,
.slick-next {
  font-size: 24px;
  line-height: 1;
  opacity: 0.75;
  z-index: 1;
  padding: 15px;
  background: #61d8a5; /* Customize color */
  border-radius: 50%; /* Circular shape */
  width: 30px; /* Size */
  height: 30px; /* Size */
  display: flex !important; /* Override slick's none */
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  opacity: 1;
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

/* Adjust the left and right values as needed to position arrows outside the slider */
